@using Transfer.Bl.Dto.Report
@model Transfer.Bl.Dto.Report.BaseReportDto<TripRequestsReportDto>;

@section Scripts {
    <script src="~/js/BasicSave.js" crossorigin="anonymous"></script>
    <script src="~/js/Reports/BaseReportSave.js" crossorigin="anonymous"></script>
}

    <div class="container">
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
        <div class="row">
            <div class="t-col col-12 crumbs">
                ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Report" asp-action="Index">Отчеты</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;@Model.Name
            </div>
        </div>
        <div class="row blank-row"></div>
        <div class="row">
            <div class="t-col col-12 col-md-6 crb-avatar">
                Здравствуйте, @Security.CurrentAccount.FirstName @Security.CurrentAccount.LastName!
            </div>
        </div>
        <div class="row blank-row"></div>
        <div class="row">
            <div class="t-col col-12">
                <h1 style="color: #0f4c71">@Model.Name</h1>
            </div>
        </div>
        <div class="row blank-row"></div>
        <form asp-controller="Report" asp-action="@Model.Action" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.AsFile)
            @Html.HiddenFor(x => x.Action)
            @Html.HiddenFor(x => x.Name)

            <div class="container the-form">
                <div class="row blank-row"></div>
                <div class="row form-row">
                    <div class="t-col col-12 col-md-2 form-group">
                        <div class="row">
                            <div class="col-12 white-text">
                                C даты:
                            </div>
                            <div class="col-12 white-text">
                                <div class="input-group input-group-icon">
                                    <input asp-for="DateFrom" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t-col col-12 col-md-2 form-group">
                        <div class="row">
                            <div class="col-12 white-text">
                                По дату:
                            </div>
                            <div class="col-12 white-text">
                                <div class="input-group input-group-icon">
                                    <input asp-for="DateTo" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="t-col the-error col-6 col-md-8">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
                    {
                        <i class="fas fa-exclamation-triangle"></i> @ViewBag.ErrorMsg
                    }
                </div>
                <div class="t-col col-6 col-md-2 text-end">
                    <button type="submit" class="button-one">Сформировать</button>
                </div>
                <div class="t-col col-6 col-md-2 text-end">
                    <button type="submit" id="sub_file" class="button-one">Сформировать Excel</button>
                </div>
            </div>
            <div class="row blank-row"></div>
        </div>
    </form>
    <div class="row blank-row"></div>
    @if (Model.Results.Any())
    {
        <hr style="color: #fff; border: dashed 1px #007896;">
        <div class="row">
            <table border="1" style="width: 100%;" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <td>Дата (внесения данных)</td>
                        <td>Заказ №</td>
                        <td>Заказчик</td>
                        <td>Дата и время подачи</td>
                        <td>Начальный пункт маршрута</td>
                        <td>Конечный пункт маршрута</td>
                        <td>Стоимость, руб</td>
                        <td>Посадочных мест</td>
                        <td>Перевозка детей</td>
                        <td>Отклики</td>
                        <td>Статус</td>
                        <td>Пользователь</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var c in Model.Results)
                    {
                        <tr>
                            <td>@($"{c.DateInput:dd.MM.yyyy}")</td>
                            <td><a href="@Url.Action("TripRequestShow", "TripRequest", new {requestId = c.TripRequestId } )" target="_blank">@c.Identifier</a></td>
                            <td>@c.Requester</td>
                            <td>@($"{c.DateStart:dd.MM.yyyy hh:MM}")</td>
                            <td>@c.AddressStart</td>
                            <td>@c.AddressFinish</td>
                            <td>@(c.Offer > 0 ? c.Offer.ToString() : string.Empty)</td>
                            <td>@c.PeopleCopacity</td>
                            <td>@(c.ChildTrip ? "да" : "нет")</td>
                            <td>@c.OfferCount</td>
                            <td>@c.StateName</td>
                            <td>@c.Manager</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row blank-row"></div>
            <div class="row blank-row"></div>
            <div class="row blank-row"></div>
            <div class="row blank-row"></div>
            <div class="row blank-row"></div>
            <div class="row blank-row"></div>
        </div>
    }
    else
    {
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
        <div class="row blank-row"></div>
    }
</div>