@model Transfer.Bl.Dto.Bus.BusDto
@using Transfer.Common.Extensions

@section Styles {
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.7/css/fileinput.min.css" integrity="sha512-qPjB0hQKYTx1Za9Xip5h0PXcxaR1cRbHuZHo9z+gb5IgM6ZOTtIH4QLITCxcCp/8RMXtw2Z85MIZLv6LfGTLiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.2.7/js/fileinput.min.js" integrity="sha512-CCLv901EuJXf3k0OrE5qix8s2HaCDpjeBERR2wVHUwzEIc7jfiK9wqJFssyMOc1lJ/KvYKsDenzxbDTAQ4nh1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script language="javascript">
        $.fn.fileinputBsVersion = "3.3.7";

        function DeleteFile(elem) {
            let row = $(elem).closest('.form-row');
            row.find('.file-upl').removeClass("d-none");
            row.find('.file-dwn').addClass("d-none");
        }


        $(() => {
            let $el1 = $("#input-id");

        $el1.fileinput({
            browseClass: "button-one",
            showPreview: false,
            showCaption: false,
            showRemove: false,
            showUpload: false,
            showCancel: false,
            browseLabel: "Загрузить",
            uploadUrl: "/File/UploadAnyFile",
            uploadAsync: true,
            layoutTemplates: {progress: ''},
            allowedFileExtensions: ["jpg", "png", "gif"],
        }).on("filebatchselected", function (event, files) {
            $el1.fileinput("upload");
        }).on('fileuploaded', function(event, data, previewId, index, fileId) {
            if(data.jqXHR.status == 200)
            {
                $el1.closest('.form-row').find('.file-result-name').val(data.response.fileName);
                $el1.closest('.form-row').find('.file-result-id').val(data.response.fileId);
            }
        });
    });
</script>
}

<div class="container">
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 crumbs">
            ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>
            &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Carrier" asp-action="Search">Перевозчики</a>
            &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-action="CarrierItem" asp-controller="Carrier" asp-route-carrierId="@Model.OrganisationId">@Model.OrganisationName</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
            @if (Model.Id.IsNullOrEmpty())
            {
                @:Новое транспортное средство
            }
            else
            {
                <a class="top-button-a" asp-action="BusItem" asp-controller="Bus" asp-route-carrierId="@Model.OrganisationId" asp-route-busId="@Model.Id">@Model.Make @Model.Model @Model.Yaer гв.</a>
            }
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 col-md-6 crb-avatar">
            Здравствуйте, @Security.CurrentAccount.FirstName @Security.CurrentAccount.LastName!
        </div>
        <div class="t-col col-12 col-md-6 text-end crb-location">
            <i class="fas fa-location-arrow"></i> Ваш регион: <span class="city">Александровск-Сахалинский</span>
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12">
            <h1 style="color: #0f4c71">@(Model.Id.IsNullOrEmpty() ? "Добавление нового транспортного средства" : "Редактирование транспортного средства")</h1>
        </div>
    </div>
    <div class="row blank-row"></div>
    <form asp-controller="Bus" asp-action="Save" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.LastUpdateTick)
        @Html.HiddenFor(x => x.OrganisationId)

        <div class="container the-form">
            <div class="row blank-row"></div>
            <div class="row form-row">
                <div class="t-col col-12 col-md-8">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            Марка: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-12 form-group">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-pencil-alt input-group-text"></i>
                                <input asp-for="Make" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 col-md-4">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            Гос номер: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-12 form-group">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-pencil-alt input-group-text"></i>
                                <input asp-for="LicenseNumber" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="t-col col-12 col-md-8">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            Модель: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-12 form-group">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-pencil-alt input-group-text"></i>
                                <input asp-for="Model" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 col-md-4">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            Год: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-12 form-group">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-pencil-alt input-group-text"></i>
                                <input asp-for="Yaer" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row blank-row"></div>
            <div class="row form-row">
                <div class="t-col col-12 col-md-2 white-text">
                    Посадочных мест: <span class="red-text">*</span>
                </div>
                <div class="t-col col-12 col-md-2 white-text">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="PeopleCopacity" class="form-control" />
                    </div>
                </div>
                <div class="t-col col-12 col-md-4 chk-label form-group">
                    <input asp-for="AirConditioner" class="form-check-input" />
                    <label for="AirConditioner">Наличие кондиционера</label>
                </div>

                <div class="t-col col-12 col-md-4 chk-label form-group">
                    <input asp-for="WC" class="form-check-input" />
                    <label for="WC">Наличие туалета</label>
                </div>
            </div>
            <div class="row blank-row"></div>
            <div class="row form-row">
                <div class="t-col col-12 col-md-2 white-text">
                    Объём багажа:
                </div>
                <div class="t-col col-12 col-md-2 white-text">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="LuggageVolume" class="form-control" />
                    </div>
                </div>
                <div class="t-col col-12 col-md-4 chk-label form-group">
                    <input asp-for="SaftyBelts" class="form-check-input" />
                    <label for="SaftyBelts">Ремни безопасности</label>
                </div>
                <div class="t-col col-12 col-md-4 chk-label form-group">
                    <input asp-for="Microphone" class="form-check-input" />
                    <label for="Microphone">Наличие микрофона</label>
                </div>
            </div>
            <div class="row blank-row"></div>
            <div class="row form-row">
                <div class="t-col col-12 col-md-4 chk-label form-group">
                    <input asp-for="TV" class="form-check-input" />
                    <label for="TV">Наличие телевизора</label>
                </div>
                <div class="t-col col-12 col-md-4 chk-label form-group">
                    <input asp-for="Audio" class="form-check-input" />
                    <label for="Audio">Аудио-система</label>
                </div>
                <div class="t-col col-12 col-md-4 chk-label form-group">
                    <input asp-for="Wifi" class="form-check-input" />
                    <label for="Wifi">Наличие WiFi</label>
                </div>
            </div>
            <div class="row blank-row"></div>
            <div class="row form-row">
                <input asp-for="OsagoFileId" type="hidden" class="form-control file-result-id">
                <div class="t-col file-upl col-12 @(!Model.OsagoFileId.IsNullOrEmpty() ? "d-none" : string.Empty)">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            ОСАГО: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-10 form-group">
                            <input type="text" class="form-control file-result-name" readonly="readonly" />
                        </div>
                        <div class="t-col col-2 form-group">
                            <input type="file" class="form-control" id="input-id">
                        </div>
                    </div>
                </div>
                <div class="t-col file-dwn white-text col-12 form-group @(Model.OsagoFileId.IsNullOrEmpty() ? "d-none" : string.Empty)">
                    Полис ОСАГО: <a href="/File/GetFile?fileId=@Model.OsagoFileId" target="_blank" class="dwn-link"><i class="fas fa-cloud-download-alt"></i> скачать</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="DeleteFile(this)" class="dwn-link"><i class="fas fa-times"></i> удалить</a>
                </div>
            </div>
            <div class="row blank-row"></div>
            <div class="row form-row">
                <div class="t-col the-error col-10">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
                    {
                        <i class="fas fa-exclamation-triangle"></i> @ViewBag.ErrorMsg
                    }
                </div>
                <div class="t-col col-2 text-end">
                    <button type="submit" class="button-one">Сохранить</button>
                </div>
            </div>

            <div class="row blank-row"></div>
        </div>
        <div class="row blank-row"></div>
    </form>
    <div class="row blank-row"></div>
</div>