@model Transfer.Web.Models.OrganisationAssetsSearchFilter
@using Transfer.Common.Extensions
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

<form id="CarrierAssetsSearch" class="carrier-actives-filter" asp-controller="Carrier" asp-action="SearchCarrierAssets" data-ajax="true" data-ajax-method="POST" data-ajax-update="#CarrierAssetsSearch">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.OrganisationId)
    <div class="row">
        <div class="col-8 t-col dark-text">
            <h4>Активы компании</h4>
        </div>
        @foreach (var c in System.Enum.GetValues(typeof(Transfer.Web.Models.OrganisationAssetType)).OfType<Transfer.Web.Models.OrganisationAssetType>())
        {
            <div class="t-col col-2 form-group">
                <input type="radio" asp-for="AssetType" id="Option@((int)c)" class="btn-check" value="@((int)c)" checked="@(c == Model?.AssetType)" onchange="DisableCheckboxes(this)" />
                <label class="btn btn-default" for="Option@((int)c)">@c.GetEnumDescription()</label>
            </div>
        }
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col offset-9 col-2 text-end form-group">
            Выводить по:
        </div>
        <div class="t-col col-1 text-end form-group">
            @Html.DropDownListFor(x => x.PageSize, new List<SelectListItem> { new SelectListItem("5", "5"), new SelectListItem("10", "10"), new SelectListItem("25", "25") }, null, new { @class = "form-select form-select-sm", @onchange="DisableCheckboxes(this)" })
        </div>
    </div>
    <hr style="color: #007896; border: dashed 1px #007896;">
    <div class="row">
        <div class="t-col col-12 text-center">
            @if (Model.AssetType == OrganisationAssetType.Driver)
            {
                <a asp-action="NewDriver" asp-controller="Driver" asp-route-carrierId="@Model.OrganisationId"><div class="new-assert-link"><i class="fas fa-plus-circle"></i></div></a>
            }
            else if (Model.AssetType == OrganisationAssetType.Bus)
            {
                <a asp-action="NewBus" asp-controller="Bus" asp-route-carrierId="@Model.OrganisationId"><div class="new-assert-link"><i class="fas fa-plus-circle"></i></div></a>
            }
        </div>
    </div>
    @foreach (var c in Model.Results)
    {
        <hr style="color: #fff; border: dashed 1px #007896;">
        <div class="row blank-row"></div>
        <div class="row">
            <div class="col-2">
                <div class="row">
                    @if (c.Picture.IsNullOrEmpty())
                    {
                        <div class="col-12 r-logo text-center"><img alt="" src="~/images/TR_PER_logo_NName.png" /></div>
                    }
                    else
                    {
                        <div class="col-12 r-logo text-center"><img alt="" src='@Url.Action("GetFile", "File", new { fileId = c.Picture.Value } )' /></div>
                    }
                </div>
            </div>
            <div class="col-10 assert-info">
                <div class="row blank-row"></div>
                <div class="row">
                    <div class="col-12"><strong>@c.Name</strong></div>
                </div>
                @if (c.PeopleCopacity > 0)
                {
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-12">Вместимость: @c.PeopleCopacity чел.</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(c.TransportClass))
                {
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-12"><i class="fas fa-truck"></i> @c.TransportClass</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(c.LicenseNumber))
                {
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-12"><i class="far fa-address-card"></i> @c.LicenseNumber</div>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(c.Phone))
                {
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-12 contacts"><a href="tel: @c.Phone"><i class="fas fa-phone-alt"></i> @c.Phone</a></div>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(c.EMail))
                {
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-12 contacts"><a href="mailto: @c.EMail"><i class="far fa-envelope"></i> @c.EMail</a></div>
                    </div>
                }

                @if (Model.AssetType == OrganisationAssetType.Bus)
                {
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-12 offset-md-10 col-md-2 go">
                            <a asp-action="BusItem" asp-controller="Bus" asp-route-carrierId="@Model.OrganisationId" asp-route-busId="@c.Id"><span>Подробнее</span></a>
                        </div>
                    </div>
                }
                else if (Model.AssetType == OrganisationAssetType.Driver)
                {
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-12 offset-md-10 col-md-2 go">
                            <a asp-action="DriverItem" asp-controller="Driver" asp-route-carrierId="@Model.OrganisationId" asp-route-driverId="@c.Id"><span>Подробнее</span></a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row blank-row"></div>
    }
    <hr style="color: #007896; border: dashed 1px #007896;">
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12">
            @Html.PagedListPager(Model.Results, page =>
            {
            Model.Results = null;
            Model.PageNumber = page;
            return Url.Action("SearchCarrierAssets", "Carrier", Model);
            }, new PagedListRenderOptions {
            DisplayItemSliceAndTotal = false,
            ItemSliceAndTotalFormat = "Всего записей: {2} ",
            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
            LinkToPreviousPageFormat = "Назад",
            LinkToNextPageFormat = "Вперед"
            })
        </div>
    </div>
</form>
<div class="row blank-row"></div>
