@model Transfer.Web.Models.OrganisationAssetsSearchFilter
@using Transfer.Common.Extensions
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

<form id="CarrierAssetsSearch" class="carrier-actives-filter filter-options-buttons" asp-controller="Carrier" asp-action="SearchCarrierAssets" data-ajax="true" data-ajax-method="POST" data-ajax-update="#CarrierAssetsSearch">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.OrganisationId)
    <div class="row">
        <div class="col-12 col-md-6 t-col dark-text">
            <h4>Активы компании</h4>
        </div>
        @foreach (var c in System.Enum.GetValues(typeof(Transfer.Web.Models.OrganisationAssetType)).OfType<Transfer.Web.Models.OrganisationAssetType>())
        {
            <div class="t-col col-4 col-md-2 form-group">
                <input type="radio" asp-for="AssetType" id="Option@((int)c)" class="btn-check" value="@((int)c)" checked="@(c == Model?.AssetType)" onchange="DisableCheckboxes(this)" />
                <label class="btn btn-default" for="Option@((int)c)">@c.GetEnumDescription()</label>
            </div>
        }
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-4 offset-5 offset-md-0 col-md-2 text-end form-group">
            Выводить по:
        </div>
        <div class="t-col col-3 col-md-1 text-end form-group">
            @Html.DropDownListFor(x => x.PageSize, new List<SelectListItem> { new SelectListItem("5", "5"), new SelectListItem("10", "10"), new SelectListItem("25", "25"), new SelectListItem("50", "50") }, null, new { @class = "form-select form-select-sm", @onchange="DisableCheckboxes(this)" })
        </div>
    </div>
    <hr style="color: #007896; border: dashed 1px #007896;">
    <div class="row">
        <div class="t-col col-12 text-center">
            @if (Model.AssetType == OrganisationAssetType.Driver)
            {
                <a asp-action="NewDriver" asp-controller="Driver" asp-route-carrierId="@Model.OrganisationId"><div class="new-assert-link"><i class="fas fa-plus-circle"></i></div></a>
            }
            else if (Model.AssetType == OrganisationAssetType.Bus)
            {
                <a asp-action="NewBus" asp-controller="Bus" asp-route-carrierId="@Model.OrganisationId"><div class="new-assert-link"><i class="fas fa-plus-circle"></i></div></a>
            }
            else if (Model.AssetType == OrganisationAssetType.User)
            {
                <a asp-action="CarrierNewAccount" asp-controller="Account" asp-route-carrierId="@Model.OrganisationId"><div class="new-assert-link"><i class="fas fa-plus-circle"></i></div></a>
            }
        </div>
    </div>
    @foreach (var c in Model.Results)
    {
        <hr style="color: #fff; border: dashed 1px #007896;">
        <div class="row">
            <div class="col-12 assert-info">
                @if (Model.AssetType == OrganisationAssetType.Bus)
                {
                    <div class="row">
                        <div class="col-12 t-col dark-text contacts">
                            <a asp-action="BusItem" asp-controller="Bus" asp-route-carrierId="@Model.OrganisationId" asp-route-busId="@c.Id">@c.Name</a>
                        </div>
                    </div>
                }
                else if (Model.AssetType == OrganisationAssetType.Driver)
                {
                    <div class="row">
                        <div class="col-12 t-col dark-text contacts">
                            <a asp-action="DriverItem" asp-controller="Driver" asp-route-carrierId="@Model.OrganisationId" asp-route-driverId="@c.Id">@c.Name</a>
                        </div>
                    </div>
                }
                else if (Model.AssetType == OrganisationAssetType.User)
                {
                    <div class="row">
                        <div class="col-12 t-col dark-text contacts">
                            <a asp-action="CarrierAccountItem" asp-controller="Account" asp-route-carrierId="@Model.OrganisationId" asp-route-accountId="@c.Id">@c.Name</a>
                            @if(c.TgUse)
                            {
                                <i class="fab fa-telegram-plane" style="color: #ecbf54;"></i>
                            }
                        </div>
@*                        <div class="col-12 col-md-2 t-col dark-text contacts">
                            <a asp-action="CarrierAccountItem" asp-controller="Account" asp-route-carrierId="@Model.OrganisationId" asp-route-accountId="@c.Id">Удалить <i class="fas fa-times-circle"></i></a>
                        </div>*@
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(c.LicenseNumber))
                {
                    <div class="row">
                        <div class="col-12 t-col">Гос. номер: @c.LicenseNumber</div>
                    </div>
                }
                @if (c.PeopleCopacity > 0)
                {
                    <div class="row">
                        <div class="col-12 t-col">Вместимость: @c.PeopleCopacity чел.</div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(c.Phone))
                {
                    <div class="row">
                        <div class="col-12 t-col contacts"><a href="tel: @c.Phone"><i class="fas fa-phone-alt"></i> @c.Phone</a></div>
                    </div>
                }

                @if (!string.IsNullOrWhiteSpace(c.EMail))
                {
                    <div class="row">
                        <div class="col-12 t-col contacts"><a href="mailto: @c.EMail"><i class="far fa-envelope"></i> @c.EMail</a></div>
                    </div>
                }
                <div class="row">
                    <div class="col-6 offset-3 offset-md-10 col-md-2 go">
                        @if (Model.AssetType == OrganisationAssetType.Bus)
                        {
                            <a asp-action="BusItem" asp-controller="Bus" asp-route-carrierId="@Model.OrganisationId" asp-route-busId="@c.Id"><span>Подробнее</span></a>
                        }
                        else if (Model.AssetType == OrganisationAssetType.Driver)
                        {
                            <a asp-action="DriverItem" asp-controller="Driver" asp-route-carrierId="@Model.OrganisationId" asp-route-driverId="@c.Id"><span>Подробнее</span></a>
                        }
                        else if (Model.AssetType == OrganisationAssetType.User)
                        {
                            <a asp-action="CarrierAccountItem" asp-controller="Account" asp-route-carrierId="@Model.OrganisationId" asp-route-accountId="@c.Id"><span>Подробнее</span></a>

                        }

                    </div>
                </div>
            </div>
        </div>
    }
    <hr style="color: #007896; border: dashed 1px #007896;">
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12">
            @Html.PagedListPager(Model.Results, page =>
            {
            Model.Results = null;
            Model.PageNumber = page;
            return Url.Action("SearchCarrierAssets", "Carrier", Model);
            }, PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
            new PagedListRenderOptions {
            DisplayItemSliceAndTotal = false,
            ItemSliceAndTotalFormat = "Всего записей: {2} ",
            DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
            DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
            LinkToPreviousPageFormat = "Назад",
            LinkToNextPageFormat = "Вперед"

            },
            new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CarrierAssetsSearch", InsertionMode = InsertionMode.Replace }))
        </div>
    </div>
</form>
<div class="row blank-row"></div>
