@model Transfer.Bl.Dto.Carrier.CarrierDto
@using Transfer.Common.Extensions

@{
}

@section Styles {
<link rel="stylesheet" href="~/css/Carrier/carrier-info.css" />
}

<div class="container">
    <!--<div class="row blank-row"></div>
    <div class="row blank-row"></div>-->
    <div class="row">
        <div class="t-col col-12 crumbs">
            ---&nbsp;&nbsp;&nbsp;<a asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a asp-controller="Carrier" asp-action="Search">Перевозчики</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<span>@Model.Name</span>
        </div>
    </div>
        <!--<div class="row blank-row"></div>-->
    <div class="row">
        <div class="t-col col-12 col-md-6 crb-avatar">
            Здравствуйте, @Security.CurrentAccount.FirstName @Security.CurrentAccount.LastName!
        </div>
    </div>
        <!--<div class="row blank-row"></div>-->
    <div class="row">
        <div class="t-col col-12">
            <h1 style="color: #0f4c71">@Model.Name</h1>
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="col-12">
            <div class="container carrier-info">
                <div class="row blank-row"></div>
                <div class="row">
                    <div class="col-4 col-md-3">
                        <div class="row">
                            @if (Model.LogoFileId.IsNullOrEmpty())
                            {
                                <div class="col-12 r-logo text-center"><img alt="" src="~/images/TR_PER_logo_NName.png" /></div>
                            }
                            else
                            {
                                <div class="col-12 r-logo text-center" style="border: solid 1px #0f4c71; height: 224px; border-radius: 18px; background-position: center center; background-size: cover; background-image: url('@Url.Action("GetFile", "File", new { fileId = Model.LogoFileId.Value } )');"></div>
                            }
                        </div>
                        <div class="row"><div class="col-12 text-center"><i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i style="color: #ecbf54" class="far fa-star fs-sm"></i><i style="color: #ecbf54" class="far fa-star fs-sm"></i></div></div>
                        <div class="row blank-row"></div>
                        <div class="row" style="color: #007896;">
                            <div class="col-12 text-center">
                                @if (Model.Checked)
                                {
                                    <i class="fas fa-lock-open fa-lg"></i>
                                }
                                else
                                {
                                    <i class="fas fa-lock fa-lg"></i>
                                }
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-times-circle fa-lg"></i>
                            </div>
                        </div>
                        <div class="row blank-row"></div>
                        <div class="row blank-row"></div>
                        <div class="row">
                            <div class="col-12 col-md-8 offset-md-2 text-center go">
                                <a asp-action="CarrierItemEdit" asp-controller="Carrier" asp-route-carrierId="@Model.Id"><span>Редактировать</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-md-9">
                        <div class="row blank-row"></div>
                        @if (!string.IsNullOrWhiteSpace(Model.FactAddress))
                        {
                            <div class="row">
                                <div class="col-12 dark-text">
                                    Фактический адрес: @Model.FactAddress
                                </div>
                            </div>
                        }
                        <div class="row blank-row"></div>
                        <div class="row">
                            <div class="col-12 dark-text">
                                Юридический адрес: @Model.Address
                            </div>
                        </div>
                        <div class="row blank-row"></div>
                        <div class="row">
                            <div class="col-12 col-md-6 dark-text contacts">
                                Контакы: @Model.ContactFio (@Model.ContactPosition), <a href="mailto: @Model.Email">@Model.Email</a>, <a href="tel: @Model.Phone">@Model.Phone</a>
                            </div>
                            <div class="col-12 col-md-3 dark-text">
                                ОГРН: @Model.OGRN
                            </div>
                            <div class="col-12 col-md-3 dark-text">
                                ИНН: @Model.INN
                            </div>
                        </div>
                        <div class="row blank-row"></div>
                        <div class="row">
                            <div class="col-12 col-md-6 dark-text">
                                <h6>Банковские реквизиты</h6>
                                <span class="black-text">
                                    Наименование банка: @Model.BankName<br />
                                    БИК: @Model.Bik<br />
                                    Счет: @Model.NumAccount<br />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row blank-row"></div>
            </div>
        </div>
    </div>
    <div class="row blank-row"></div>
    @await Component.InvokeAsync("CarrierAssets", new { organisationId = Model.Id })
</div>
