@model Transfer.Bl.Dto.Carrier.CarrierDto
@using Transfer.Common.Extensions

@section Styles {
    <link rel="stylesheet" href="~/source/fileinput.min.css" />
    <link rel="stylesheet" href="~/source/select2.min.css" />
    <link rel="stylesheet" href="~/source/select2-bootstrap-5-theme.min.css" />

}

@section Scripts {
    <script src="~/source/fileinput.min.js" ></script>
    <script src="~/source/select2.min.js" ></script>
    <script src="~/js/Carrier/Save.js" crossorigin="anonymous"></script>
    <script src="~/js/BasicSave.js" crossorigin="anonymous"></script>
}

<div class="container">
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 crumbs">
            ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Carrier" asp-action="Search">Перевозчики</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
            @if(Model.Id.IsNullOrEmpty())
            {
                @:Новый перевозчик
            }
            else
            {
                <a class="top-button-a" asp-action="CarrierItem" asp-controller="Carrier" asp-route-carrierId="@Model.Id">@Model.Name</a>
            }
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 col-md-6 crb-avatar">
            Здравствуйте, @Security.CurrentAccount.FirstName @Security.CurrentAccount.LastName!
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12">
            <h1 style="color: #0f4c71">@(Model.Id.IsNullOrEmpty() ? "Добавление нового перевозчика" : "Редактирование перевозчика")</h1>
        </div>
    </div>
    <div class="row blank-row"></div>
    <form asp-controller="Carrier" asp-action="Save" method="post" enctype="multipart/form-data" id="mainSaveForm">
        @await Html.PartialAsync("~/Views/Carrier/Save.cshtml", Model)
    </form>
    <div class="row blank-row"></div>
</div>
