@model Transfer.Bl.Dto.Carrier.CarrierDto
@using Transfer.Common.Extensions

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.Id)

<div class="container the-form">
    <div class="row blank-row"></div>
    <div class="row form-row">
        <div class="t-col col-12 col-md-6">
            <div class="row">
                <div class="t-col col-12 white-text">
                    Краткое наименование компании: <span class="red-text">*</span>
                </div>
            </div>
            <div class="row">
                <div class="t-col col-12 form-group">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="t-col col-12 col-md-6">
            <div class="row">
                <div class="t-col col-12 white-text">
                    Город: <span class="red-text">*</span>
                </div>
            </div>
            <div class="row">
                <div class="t-col col-12 form-group">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="City" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-row"></div>
    <div class="row form-row">
        <div class="t-col col-12 white-text">
            Полное наименование компании в соответствии с уставом: <span class="red-text">*</span>
        </div>
    </div>
    <div class="row form-row">
        <div class="t-col col-12 form-group">
            <div class="input-group input-group-icon">
                <i class="fas fa-pencil-alt input-group-text"></i>
                <input asp-for="FullName" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row form-row"></div>
    <div class="row form-row">
        <div class="t-col col-12 white-text">
            Юридический адрес: <span class="red-text">*</span>
        </div>
    </div>
    <div class="row form-row">
        <div class="t-col col-12 form-group">
            <div class="input-group input-group-icon">
                <i class="fas fa-pencil-alt input-group-text"></i>
                <input asp-for="Address" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row form-row"></div>
    <div class="row form-row">
        <div class="t-col col-12 white-text">
            Фактический адрес:
        </div>
    </div>

    <div class="row form-row">
        <div class="t-col col-12 form-group">
            <div class="input-group input-group-icon">
                <i class="fas fa-pencil-alt input-group-text"></i>
                <input asp-for="FactAddress" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row form-row">
        <div class="t-col col-12 col-md-3 form-group">
            <div class="row">
                <div class="col-12 white-text">
                    Телефон: <span class="red-text">*</span>
                </div>
                <div class="col-12">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input type="tel" asp-for="Phone" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="t-col col-12 col-md-3 form-group">
            <div class="row">
                <div class="col-12 white-text">
                    Email: <span class="red-text">*</span>
                </div>
                <div class="col-12">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input type="email" asp-for="Email" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
        <div class="t-col col-12 col-md-3 form-group">
            <div class="row">
                <div class="col-12 white-text">
                    ОГРН: <span class="red-text">*</span>
                </div>
                <div class="col-12">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="OGRN" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="t-col col-12 col-md-3 form-group">
            <div class="row">
                <div class="col-12 white-text">
                    ИНН: <span class="red-text">*</span>
                </div>
                <div class="col-12 white-text">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="INN" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="col-12 t-col" style="color: #fff;"><h3>Банковские реквизиты</h3></div>
    </div>
    <div class="row form-row"></div>
    <div class="row form-row">
        <div class="t-col col-12 white-text">
            Наименование банка: <span class="red-text">*</span>
        </div> 
    </div>
    <div class="row form-row">
        <div class="t-col col-12 form-group">
            <div class="input-group input-group-icon">
                <i class="fas fa-pencil-alt input-group-text"></i>
                <input asp-for="BankName" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row form-row">
        <div class="t-col col-12 col-md-3 form-group">
            <div class="row">
                <div class="col-12 white-text">
                    БИК: <span class="red-text">*</span>
                </div>
                <div class="col-12 white-text">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="Bik" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="t-col col-12 col-md-3 form-group">
            <div class="row">
                <div class="col-12 white-text">
                    ИНН Банка: <span class="red-text">*</span>
                </div>
                <div class="col-12 white-text">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="BankInn" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="t-col col-12 col-md-3 form-group">
            <div class="row">
                <div class="col-12 white-text">
                    КПП: <span class="red-text">*</span>
                </div>
                <div class="col-12 white-text">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="Kpp" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="t-col col-12 col-md-3 form-group">
            <div class="row">
                <div class="col-12 white-text">
                    Кор. счет: <span class="red-text">*</span>
                </div>
                <div class="col-12 white-text">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="KorAccount" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-row">
        <div class="t-col col-12 col-md-3 form-group">
            <div class="row">
                <div class="col-12 white-text">
                    Номер счета: <span class="red-text">*</span>
                </div>
                <div class="col-12 white-text">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="NumAccount" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="t-col col-12 col-md-9 form-group">
            <div class="row">
                <div class="col-12 white-text">
                    Наименование получателя: <span class="red-text">*</span>
                </div>
                <div class="col-12 white-text">
                    <div class="input-group input-group-icon">
                        <i class="fas fa-pencil-alt input-group-text"></i>
                        <input asp-for="NameAccount" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row blank-row"></div>
            <div class="row">
                <div class="col-12 col-md-8">
                    <h2 class="white-text">Копии документов:</h2>
                    <div class="row form-row">
                        <input asp-for="LicenceFileId" type="hidden" class="file-result-id">
                        <div class="t-col file-upl col-12 @(!Model.LicenceFileId.IsNullOrEmpty() ? "d-none" : string.Empty)">
                            <div class="row">
                                <div class="t-col col-12 white-text">
                                    Скан лицензии на пассажирские перевозки: <span class="red-text">*</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="t-col col-10 form-group">
                                    <input type="text" class="form-control file-result-name" readonly="readonly" />
                                </div>
                                <div class="t-col col-2 form-group">
                                    <input type="file" class="form-control input-file">
                                </div>
                            </div>
                        </div>
                        <div class="t-col file-dwn white-text col-12 form-group @(Model.LicenceFileId.IsNullOrEmpty() ? "d-none" : string.Empty)">
                            Скан лицензии на пассажирские перевозки: <a href="/File/GetFile?fileId=@Model.LicenceFileId" target="_blank" class="dwn-link"><i class="fas fa-cloud-download-alt"></i> скачать</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0);" onclick="DeleteFile(this)" class="dwn-link"><i class="fas fa-times"></i> удалить</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <h2 class="white-text">Логотип компании:</h2>
                    <div class="row blank-row d-none d-md-block"></div>
                    <div class="form-row">
                        <input asp-for="LogoFileId" type="hidden" class="file-result-id">
                        <div class="col-12 col-md-6 col-p-e @(!Model.LogoFileId.IsNullOrEmpty() ? "d-none" : string.Empty)">
                            <div style="border: 1px dashed #007896; height: 200px; border-radius: 9px;">
                                <input type="file" class="form-control input-photo-file">
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-p-u @(Model.LogoFileId.IsNullOrEmpty() ? "d-none" : string.Empty)">
                            <div class="col-p-u-i" style="border: 1px dashed #007896; height: 200px; border-radius: 9px; background-position: center center; background-size: cover; background-image: url('/File/GetFile?fileId=@Model.LogoFileId'">
                                <a href="javascript:void(0);" class="i-button" onclick="DeleteFile(this)"><div class="add-photo-link"><i class="fas fa-times-circle"></i></div></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row blank-row"></div>
    <div class="row form-row">
        <div class="t-col col-12 chk-label form-group">
            <input id="Agreement" asp-for="Agreement" class="form-check-input" />
            <label for="Agreement">Согласие с условиями обработки персональных данных</label> <label>(<a href="#" target="_blank">Полные условия оферты</a>)</label>
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row form-row">
        <div class="t-col the-error col-12 col-md-10">
            @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
            {
                <i class="fas fa-exclamation-triangle"></i> @ViewBag.ErrorMsg
            }
        </div>
        <div class="t-col col-4 col-md-2 text-end">
            <button type="submit" class="button-one">Сохранить</button>
        </div>
    </div>
    <div class="row blank-row"></div>
</div>
<div class="row blank-row"></div>

