@model TripRequestOfferDto

@using Transfer.Bl.Dto;
@using Transfer.Bl.Dto.TripRequest
@using Transfer.Common.Extensions

<div class="container">
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 crumbs">
            ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="TripRequest" asp-action="Search">Поездки</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;<a class="top-button-a" asp-action="TripRequest" asp-controller="TripRequest" asp-route-requestId="@Model.Id">@Model.ChartererName @($"({Model.TripDate:dd.MM.yyyy})")</a>
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 col-md-6 crb-avatar">
            Здравствуйте, @Security.CurrentAccount.FirstName @Security.CurrentAccount.LastName!
        </div>
        <div class="t-col col-12 col-md-6 text-end crb-location">
            <i class="fas fa-location-arrow"></i> Ваш регион: <span class="city">Александровск-Сахалинский</span>
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12">
            <h1 style="color: #0f4c71">Отлик на заказ</h1>
        </div>
    </div>
    <form asp-controller="TripRequest" asp-action="OfferSave" method="post" id="mainSaveForm">
        @Html.HiddenFor(x => x.ChartererId)
        @Html.HiddenFor(x => x.LastUpdateTick)
        @Html.HiddenFor(x => x.State)
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.CarrierId)
        <hr style="color: #fff; border: dashed 1px #007896;">
        <div class="row">
            <div class="col-12">
                <div class="container trip-request">
                    <div class="row blank-row"></div>
                    <div class="row">
                        <div class="col-9">
                            <div class="row">
                                <div class="t-col col-12"><span style="font-size: 1.2rem;">@Model.ChartererName</span> <i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="far fa-star fs-sm"></i><i class="far fa-star fs-sm"></i></div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="t-col col-12"><i class="fas fa-map-marked"></i> @Model.AddressFrom</div>
                                        <div class="t-col col-12"><i class="fas fa-map-marked-alt"></i> @Model.AddressTo</div>
                                        <div class="t-col col-12"><i class="far fa-user-circle"></i> @Model.ContactFio, <a href="#">@Model.ContactPhone</a>, <a href="#">@Model.ContactEmail</a></div>
                                        @if (!string.IsNullOrWhiteSpace(Model.Description))
                                        {
                                            <div class="t-col col-12"><i class="fas fa-comment"></i> @Html.Raw(Model.Description)</div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="t-col col-12">Дата: @($"{Model.TripDate:dd.MM.yyyy HH:mm}")</div>
                            </div>
                            <div class="row">
                                <div class="t-col col-12">Пассажиры: @Model.Passengers</div>
                            </div>
                            @if (Model.TripOptions?.Any() ?? false)
                            {
                                <div class="row">
                                    <div class="t-col col-12">
                                        <h6>Особенности поездки:</h6>
                                        @await Html.PartialAsync("~/Views/Shared/_TripOptions.cshtml", Model.TripOptions)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row blank-row"></div>
                </div>
            </div>
        </div>
        <div class="container the-form">
            <div class="row blank-row"></div>
            <div class="row form-row">
                <div class="t-col col-12 col-md-3 form-group">
                    <div class="row">
                        <div class="col-12 white-text">
                            Цена: <span class="red-text">*</span>
                        </div>
                        <div class="col-12">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-user-alt input-group-text"></i>
                                <input type="number" asp-for="Amount" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 offset-md-1 col-md-8 form-group">
                    <div class="row">
                        <div class="col-12 white-text">Комментарий к отклику:</div>
                        <div class="col-12 white-text">
                            <textarea asp-for="Comment" rows="6" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row blank-row"></div>
            <div class="row form-row">
                <div class="t-col the-error col-10">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
                    {
                        <i class="fas fa-exclamation-triangle"></i> @ViewBag.ErrorMsg
                    }
                </div>
                <div class="t-col col-2 text-end">
                    <button type="submit" class="button-one">Сохранить</button>
                </div>
            </div>
            <div class="row blank-row"></div>
        </div>
    </form>
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
</div>