@model Transfer.Bl.Dto.TripRequest.TripRequestDto
@using Transfer.Common.Extensions

@section Styles {
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.2.0/dist/select2-bootstrap-5-theme.min.css" />
}
@section Scripts {
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="~/js/TripRequest/Save.js" crossorigin="anonymous"></script>
}


<div class="container">
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 crumbs">
            ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="TripRequest" asp-action="Search">Поездки</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
            @if (Model.Id.IsNullOrEmpty())
            {
                @:Новая перевозка
            }
            else
            {
                <a class="top-button-a" asp-action="TripRequestShow" asp-controller="TripRequest" asp-route-requestId="@Model.Id">Заказ №@Model.Identifier от @Model.ChartererName @($"({Model.TripDate:dd.MM.yyyy})")</a>
            }
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 col-md-6 crb-avatar">
            Здравствуйте, @Security.CurrentAccount.FirstName @Security.CurrentAccount.LastName!
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12">
            <h1 style="color: #0f4c71">@(Model.Id.IsNullOrEmpty() ? "Оформление нового заказа" : $"Редактирование заказа №{Model.Identifier}")</h1>
        </div>
    </div>
    <div class="row blank-row"></div>
    <form asp-controller="TripRequest" asp-action="Save" method="post" id="mainSaveForm">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ChartererId)
        @Html.HiddenFor(x => x.LastUpdateTick)
        @Html.HiddenFor(x => x.State)

        <div class="container the-form">
            <div class="row blank-row"></div>
            <h2 class="white-text">Кто заказывает поездку:</h2>
            <div class="row form-row">
                <div class="t-col col-12">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            Заказчик: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-12 form-group">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-search input-group-text"></i>
                                <input asp-for="ChartererName" class="form-control" readonly="@(!Model.ChartererId.IsNullOrEmpty())" autocomplete="off" placeholder="Начните вводить полное наименование компании ЮЛ или ИП или ФИО" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="t-col col-12 col-md-4 form-group">
                    <div class="row">
                        <div class="col-12 white-text">
                            Контактное лицо:
                        </div>
                        <div class="col-12">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-user-alt input-group-text"></i>
                                <input type="tel" asp-for="ContactFio" readonly="@(!Model.ChartererId.IsNullOrEmpty())" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 col-md-4 form-group">
                    <div class="row">
                        <div class="col-12 white-text">
                            Email:
                        </div>
                        <div class="col-12">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-envelope input-group-text"></i>
                                <input type="email" asp-for="ContactEmail" readonly="@(!Model.ChartererId.IsNullOrEmpty())" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 col-md-4 form-group">
                    <div class="row">
                        <div class="col-12 white-text">
                            Контакный телефон: <span class="red-text">*</span>
                        </div>
                        <div class="col-12">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-phone-alt input-group-text"></i>
                                <input asp-for="ContactPhone" readonly="@(!Model.ChartererId.IsNullOrEmpty())" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row blank-row"></div>
            <div class="row">
                <div class="col-12 t-col" style="color: #fff;"><h3>Основные данные о поездке</h3></div>
            </div>
            <div class="row form-row">
                <div class="t-col col-12">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            Начальный пункт маршрута: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-12 form-group">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-map-marked input-group-text"></i>
                                <select asp-for="AddressFromFias" class="form-control input-addr" autocomplete="off">
                                    @if (!string.IsNullOrWhiteSpace(Model.AddressFrom))
                                    {
                                        <option value="@Guid.NewGuid()">@Model.AddressFrom</option>
                                    }
                                </select>
                            </div>
                            @Html.HiddenFor(x => x.RegionFromId, new { @class = "r1"})
                            @Html.HiddenFor(x => x.RegionFromName, new { @class = "r2"})
                            @Html.HiddenFor(x => x.AddressFrom, new { @class = "r3"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="t-col col-12">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            Конечный пункт маршрута: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-12 form-group">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-map-marked-alt input-group-text"></i>
                                <select asp-for="AddressToFias" class="form-control input-addr" autocomplete="off">
                                    @if (!string.IsNullOrWhiteSpace(Model.AddressTo))
                                    {
                                        <option value="@Guid.NewGuid()">@Model.AddressTo</option>
                                    }
                                </select>
                            </div>
                            @Html.HiddenFor(x => x.RegionToId, new { @class = "r1"})
                            @Html.HiddenFor(x => x.RegionToName, new { @class = "r2"})
                            @Html.HiddenFor(x => x.AddressTo, new { @class = "r3"})
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="t-col col-12 col-md-3 form-group">
                    <div class="row">
                        <div class="col-12 white-text">
                            Дата и время подачи: <span class="red-text">*</span>
                        </div>
                        <div class="col-12 white-text">
                            <div class="input-group input-group-icon">
                                <input asp-for="TripDate" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 col-md-3 form-group">
                    <div class="row">
                        <div class="col-12 white-text">
                            Посадочных мест: <span class="red-text">*</span>
                        </div>
                        <div class="col-12 white-text">
                            <div class="input-group input-group-icon">
                                <input asp-for="Passengers" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 col-md-2 chk-label form-group">
                    <div class="row">
                        <div class="col-12 white-text">&nbsp;</div>
                        <div class="col-12 white-text text-end">
                            <input asp-for="ChildTrip" class="form-check-input" />
                            <label for="ChildTrip">Перевозка детей</label>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 col-md-2 chk-label form-group">
                    <div class="row">
                        <div class="col-12 white-text">&nbsp;</div>
                        <div class="col-12 white-text text-end">
                            <input asp-for="StandTrip" class="form-check-input" />
                            <label for="StandTrip">Поездка с простоем</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="t-col col-12 col-md-6 chk-label form-group">
                    <div class="row">
                        <div class="col-12 white-text">Форма оплаты:</div>
                        <div class="col-12 white-text">
                            <div class="form-check form-check-inline">
                                <input asp-for="PaymentType" class="form-check-input" type="radio" id="PaymentType1" value="1">
                                <label for="PaymentType1"><i class="fas fa-credit-card white-text"></i>&nbsp;&nbsp;Картой</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input asp-for="PaymentType" class="form-check-input" type="radio" id="PaymentType0" value="0">
                                <label for="PaymentType0"><i class="fas fa-money-bill white-text"></i>&nbsp;&nbsp;Наличными</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input asp-for="PaymentType" class="form-check-input" type="radio" id="PaymentType2" value="2">
                                <label for="PaymentType2"><i class="fas fa-university white-text"></i>&nbsp;&nbsp;На расчётный счет</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 col-md-6 chk-label form-group">
                    <div class="row">
                        <div class="col-12 white-text">Комментарий к заказу:</div>
                        <div class="col-12 white-text">
                            <textarea asp-for="Description" rows="6" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row blank-row"></div>
            </div>
            <div class="row blank-row"></div>
            <div class="row form-row">
                <div class="t-col the-error col-8">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMsg))
                    {
                        <i class="fas fa-exclamation-triangle"></i> @ViewBag.ErrorMsg
                    }
                </div>
                <div class="t-col col-2 text-end">
                    <button type="button" class="button-one-empty">Завершить</button>
                </div>
                <div class="t-col col-2 text-end">
                    <button type="submit" class="button-one">Сохранить</button>
                </div>
            </div>

            <div class="row blank-row"></div>
    </form>
    <div class="row blank-row"></div>
</div>
<div class="row blank-row"></div>