@model Transfer.Bl.Dto.TripRequest.TripRequestDto
@using Transfer.Common.Extensions

<div class="container">
    <div class="row blank-row"></div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 crumbs">
            ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="TripReques" asp-action="Search">Поездки</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
            @if (Model.Id.IsNullOrEmpty())
            {
                @:Новая перевозка
            }
            else
            {
                <a class="top-button-a" asp-action="TripRequest" asp-controller="TripRequest" asp-route-requestId="@Model.Id">@Model.СhartererName</a>
            }
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12 col-md-6 crb-avatar">
            Здравствуйте, @Security.CurrentAccount.FirstName @Security.CurrentAccount.LastName!
        </div>
        <div class="t-col col-12 col-md-6 text-end crb-location">
            <i class="fas fa-location-arrow"></i> Ваш регион: <span class="city">Александровск-Сахалинский</span>
        </div>
    </div>
    <div class="row blank-row"></div>
    <div class="row">
        <div class="t-col col-12">
            <h1 style="color: #0f4c71">@(Model.Id.IsNullOrEmpty() ? "Оформление нового заказа" : "Редактирование заказа")</h1>
        </div>
    </div>
    <div class="row blank-row"></div>
    <form asp-controller="TripRequest" asp-action="Save" method="post" id="mainSaveForm">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.СhartererId)

        <div class="container the-form">
            <div class="row blank-row"></div>
            <h2 class="white-text">Кто заказывает поездку:</h2>
            <div class="row form-row">
                <div class="t-col col-12">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            Заказчик: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-12 form-group">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-search input-group-text"></i>
                                <input asp-for="СhartererName" class="form-control" placeholder="Начните вводить полное наименование компании ЮЛ или ИП или ФИО" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="t-col col-12 col-md-4 form-group">
                    <div class="row">
                        <div class="col-12 white-text">
                            Контактное лицо: <span class="red-text">*</span>
                        </div>
                        <div class="col-12">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-user-alt input-group-text"></i>
                                <input type="tel" asp-for="ContactFio" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 col-md-4 form-group">
                    <div class="row">
                        <div class="col-12 white-text">
                            Email: <span class="red-text">*</span>
                        </div>
                        <div class="col-12">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-envelope input-group-text"></i>
                                <input type="email" asp-for="ContactEmail" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-col col-12 col-md-4 form-group">
                    <div class="row">
                        <div class="col-12 white-text">
                            Контакный телефон: <span class="red-text">*</span>
                        </div>
                        <div class="col-12">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-phone-alt input-group-text"></i>
                                <input asp-for="ContactPhone" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row blank-row"></div>
            <div class="row">
                <div class="col-12 t-col" style="color: #fff;"><h3>Основные данные о поездке</h3></div>
            </div>
            <div class="row form-row">
                <div class="t-col col-12">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            Начальный пункт маршрута: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-12 form-group">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-map-marked input-group-text"></i>
                                <input asp-for="AddressFrom" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <div class="t-col col-12">
                    <div class="row">
                        <div class="t-col col-12 white-text">
                            Конечный пункт маршрута: <span class="red-text">*</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="t-col col-12 form-group">
                            <div class="input-group input-group-icon">
                                <i class="fas fa-map-marked-alt input-group-text"></i>
                                <input asp-for="AddressTo" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row blank-row"></div>
    </form>
    <div class="row blank-row"></div>
</div>