@model Transfer.Bl.Dto.TripRequest.TripRequestWithOffersDto
@using Transfer.Bl.Dto
@using Transfer.Common.Enums.AccessRights;
@using Transfer.Common.Enums.States;
@using Transfer.Common.Extensions

@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

@section Styles {
    <link rel="stylesheet" href="~/css/TripRequest/Search.css" />
}

@{
    var TripOptions = new List<TripOption>();
    var canChoose = Model.State == Transfer.Common.Enums.States.TripRequestStateEnum.Active.GetEnumGuid() && Model.Offers.Any() && Model.Offers.All(x => !x.Chosen) && Security.HasRightForSomeOrganisation(TripRequestRights.CarrierChoose, Model.ChartererId);
    var orgOffer = Security.HasOrganisationsForRight(TripRequestRights.MakeOffer).FirstOrDefault();
    var canDoOffer = Model.State == TripRequestStateEnum.Active.GetEnumGuid() && !orgOffer.IsNullOrEmpty() && !Model.Offers.Any(x => x.CarrierId == orgOffer);
}

<div class="container">
    <!--<div class="row blank-row"></div>
    <div class="row blank-row"></div>-->
    <div class="row">
        <div class="t-col col-12 crumbs">
            ---&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="Home" asp-action="Index">Главная</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<a class="top-button-a" asp-controller="TripRequest" asp-action="Search">Поездки</a>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;
            <a class="top-button-a" asp-action="TripRequestShow" asp-controller="TripRequest" asp-route-requestId="@Model.Id">Заказ №@Model.Identifier от @Model.ChartererName @($"({Model.TripDate:dd.MM.yyyy})")</a>
        </div>
    </div>
    <!--<div class="row blank-row"></div>-->
    <div class="row">
        <div class="t-col col-12 col-md-6 crb-avatar">
            Здравствуйте, @Security.CurrentAccount.FirstName @Security.CurrentAccount.LastName!
        </div>
    </div>
    <!--<div class="row blank-row"></div>-->
    <div class="row">
        <div class="t-col col-10">
            <h1 style="color: #0f4c71">Просмотр заказа</h1>
        </div>
    </div>
    <div class="row blank-row"></div>
    <hr style="color: #fff; border: dashed 1px #007896;">
    <div class="row">
        <div class="col-12">
            <div class="container trip-request">
                <div class="row blank-row"></div>
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <div class="t-col col-12"><span style="font-size: 1.2rem;">Заказчик: @Model.ChartererName</span> <i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="far fa-star fs-sm"></i><i class="far fa-star fs-sm"></i></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="col-12 t-col"><strong>Заказ №:</strong> @Model.Identifier</div>
                        <div class="col-12 t-col"><strong>Дата:</strong> @($"{Model.TripDate:dd.MM.yyyy HH:mm}")</div>
                        <div class="col-12 t-col"><i class="fas fa-map-marked"></i> @Model.AddressFrom</div>
                        <div class="col-12 t-col"><i class="fas fa-map-marked-alt"></i> @Model.AddressTo</div>
                        @if (!string.IsNullOrWhiteSpace(Model.Description))
                        {
                            <div class="t-col col-12"><i class="fas fa-comment-dots"></i> @Model.Description</div>
                        }
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="col-12 t-col"><strong>Пассажиров:</strong> @Model.Passengers</div>
                        <div class="col-12 t-col">
                            <strong>Особенности поездки:</strong><br />
                            @await Html.PartialAsync("~/Views/Shared/_TripOptions.cshtml", Model.TripOptions)
                        </div>
                        <div class="row blank-row"></div>
                    </div>
                </div>
                @if (Model.NextStates.Any() || canDoOffer)
                {
                    <div class="row blank-row"></div>
                    <div class="row">
                        @if(canDoOffer)
                        {
                            <div class="col-12 col-md-3">
                                <div class="t-col col-10 text-center text-md-start go" style="padding: 0;">
                                    <a asp-action="MakeRequestOffer" asp-controller="TripRequest" asp-route-requestId="@Model.Id"><span>Оставить заявку</span></a>
                                </div>
                            </div>
                        }

                        @foreach (var ns in Model.NextStates)
                        {
                            if (string.IsNullOrWhiteSpace(ns.ConfirmText))
                            {
                                <div class="col-12 col-md-3">
                                    <div class="t-col col-10 text-center text-md-start go" style="padding: 0;">
                                        <a asp-action="TripRequestStateChange" asp-controller="TripRequest" asp-route-requestId="@Model.Id" asp-route-stateId="@ns.NextStateId"><span>@ns.ButtonName</span></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 col-md-3">
                                    <div class="t-col col-10 text-center text-md-start go" style="padding: 0;">
                                        <a href="#" data-bs-href="@Url.Action("TripRequestStateChange", "TripRequest", new { requestId = Model.Id,  stateId = ns.NextStateId })" data-bs-confirm-text="@ns.ConfirmText" data-bs-toggle="modal" data-bs-target="#confirm-action">
                                            <span>@ns.ButtonName</span>
                                        </a>
                                    </div>
                                </div>
                            }
                            if (Model.NextStates.Count > 1)
                            {
                                <div class="row d-md-none blank-row"></div>
                            }
                        }
                    </div>
                }
                <div class="row blank-row"></div>
            </div>
        </div>
        <div class="row blank-row"></div>
    </div>
    <hr style="color: #fff; border: dashed 1px #007896;">
    @if (Model.Offers.Any())
    {
        <div class="row">
            <div class="t-col col-10">
                <h6>Отклики:</h6>
            </div>
        </div>
        @foreach (var o in Model.Offers)
        {
            <div class="row">
                <div class="col-12">
                    <div class="container trip-request" @(o.Chosen ? Html.Raw("style=\"border: 1px solid #0f4c71\"") : string.Empty)>
                        <div class="row blank-row"></div>
                        <div class="row">
                            <div class="t-col col-md-9 col-12">
                                <span style="font-size: 1.2rem;">@o.Name</span> <i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="fas fa-star fs-sm" style="color: #ecbf54"></i><i class="far fa-star fs-sm"></i><i class="far fa-star fs-sm"></i>
                            </div>
                            <div class="t-col col-md-3 col-12"><strong>Цена:</strong> @($"{o.Amount:c}")</div>
                        </div>
                        <div class="row">
                            <div class="t-col col-12"><i class="fas fa-comment-dots"></i> @o.Comment</div>
                        </div>
                        <div class="row">
                            <div class="t-col col-12"><i class="far fa-user-circle"></i> @o.ContactFio, <a href="tel:@o.ContactPhone">@o.ContactPhone</a>, <a href="mailto:@o.ContactEmail">@o.ContactEmail</a></div>
                        </div>
                        @if (canChoose)
                        {
                            <div class="col-12 col-md-3 t-col text-center go">
                                <a href="#" data-bs-href="@Url.Action("TripRequestSetCarrierChoosen", "TripRequest", new { requestId = Model.Id, offerId = o.Id })" data-bs-confirm-text="Вы уверены что хотите выбрать это предложение?" data-bs-toggle="modal" data-bs-target="#confirm-action">
                                    <span>Выбрать</span>
                                </a>
                            </div>
                        }
                        <div class="row blank-row"></div>
                    </div>
                </div>
            </div>
            <div class="row blank-row"></div>
        }
        <hr style="color: #fff; border: dashed 1px #007896;">
    }
</div>