@model System.Collections.Generic.IEnumerable<Transfer.Bl.Dto.TripOption>
@using Transfer.Common.Enums;
@using Transfer.Common.Extensions;

@foreach(var to in Model)
{
    if(to.Id == TripOptionsEnum.TripGuide.GetEnumGuid())
    {
        <span><i class="fas fa-headphones-alt"></i> @to.Name</span><br />
    }
    else if(to.Id == TripOptionsEnum.ChildTrip.GetEnumGuid())
    {
        <span><i class="fas fa-child"></i> @to.Name</span><br />
    }
    else if(to.Id == TripOptionsEnum.CardPayment.GetEnumGuid())
    {
        <span><i class="fas fa-credit-card"></i> @to.Name</span><br />
    }
    else if(to.Id == TripOptionsEnum.CashPayment.GetEnumGuid())
    {
        <span><i class="fas fa-money-bill-wave"></i> @to.Name</span><br />
    }
    else if(to.Id == TripOptionsEnum.IdleTrip.GetEnumGuid())
    {
        <span><i class="fas fa-directions"></i> @to.Name</span><br />
    }
    else if(to.Id == TripOptionsEnum.RSPayment.GetEnumGuid())
    {
        <span><i class="fas fa-university"></i> @to.Name</span><br />
    }
}